---
---

@import "{{ site.theme }}";

@media screen and (min-width: 64em) { .project-tagline { font-size: 1.8rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .project-tagline { font-size: 1.8rem; } }
@media screen and (max-width: 42em) { .project-tagline { font-size: 1.5rem; } }

.main-content{
    table{
        display: table;
        th{
            padding: 0.2rem;
            background-color: papayawhip;
        };
        td{
            padding: 0.2rem;
            background-color: papayawhip;
        };
    }
}