<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
        <link rel="stylesheet" href="assets/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>

        <header>
            <label for="drawer-control" class="drawer-toggle"></label>
            <a href="/" class="logo">GoKilo</a>
            <a href="/about.html" class="button">About</a>
            <a href="https://github.com/gokilo" class="button">GitHub</a>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-2">
                    {% include navigation.html %}
                </div>
                <div class="col-sm-12 col-md-10">
                    {{content}}
                </div>
            </div>
        </div>
        <footer>
            <small>
                &copy; 2020, 
                <a xmlns:cc="http://creativecommons.org/ns#" href="https://www.linkedin.com/in/hariharan-srinath-12332113" property="cc:attributionName" rel="cc:attributionURL">
                    Hariharan Srinath
                </a>.
                This work is licensed under a 
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                    CC BY 4.0
                </a> license. 
                Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://viewsourcecode.org/snaptoken/kilo/" rel="dct:source">https://viewsourcecode.org/snaptoken/kilo/</a></small>
            </small>
        </footer>
    </body>
</html>

